/* Variables */

$font-header: 'Gotu', sans-serif;
$font-text: 'Montserrat', sans-serif;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

/* Section */

h1 {
  font-size: 50px;
}

h3 {
  font-style: italic;
  font-size: 30px;
}

div {
  text-align: center;
}
